<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hannah Walsh's Resume</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>

<body id="myPage" data-spy="scroll" data-target="#myNav" ng-app="">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#myPage"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#education">EDUCATION</a></li>
                    <li><a href="#work">WORK EXPERIENCE</a></li>
                    <li><a href="#skills">SKILLS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    <div class="jumbotron text-center">
        <div class="title-container">
            <img class="title-image" src="gradimage.jpg" alt="Hannah Walsh">
            <div class="left">HANNAH<br>WALSH</div>
            
        </div>

    </div>

    <!-- Container (about section) -->
    <div id="about" class="about">
        <h2>About Me</h2>
        <p>My name is Hannah Walsh and I am a Technology Consultant 
            in Dallas, TX. I graduated from Baylor University in May 
            2018 with a Bachelor's of Business Administration in 
            Baylor Business Fellows, Management Information Systems, 
            and Marketing. I also received a minor in Italian. I look 
            forward to discovering and working with new technologies 
            as I begin my career.</p>
    </div>

    <!-- Vertical line -->
    <div class="vl"></div>

    <!-- Container (education section) -->
    <div id="education" class="education slideanim">
        <h2>Education</h2>
        
        <h5><strong>Bachelor of Business Administration</strong>  - Baylor University 2018</h5>
        <p>Baylor Business Fellows, Marketing, and Management Infromation Systems</p>
        <h5><strong>Study Abroad in Rome</strong>  - John Cabot University 2017</h5>
        <h5><strong>General Education</strong>  - Plano Senior High School 2014</h5>
    </div>

    <!-- Vertical line -->
    <div class="vl"></div>

    <!-- Container (work experience section) -->
    <div id="work" class="work slideanim">
        <h2>Work Experience</h2>
        <h6>TECHNOLOGY CONSULTANT</h6>
        <h5><strong>Credera</strong></h5>
        <h5>July 2018 - Present</h5>
        <p>Technology consultant in the Microsoft Solutions Practice</p>
                        
        <br>
        <h6>INTERACTIVE MARKETING INTERN</h6>
        <h5><strong>Lennox</strong></h5>
        <h5>May 2016 - August 2017 </h5>
        <p> I led the creation of MyLennox, an internal initiative set to increase 
        employee advocacy with brand ambassadors. I uploaded all program content to MyLennox, collaborated with the 
        graphic design team to create a seamless look on desktop and mobile, 
        and orchestrated a two-day training event for brand ambassadors. 
        I completed a competitive analysis regarding social media in 
        the industry and presented findings to executives and other 
        employees. I wrote and published 3 Lennox Social Media Program 
        newsletters and 3 mid-month emails. I updated and managed dealer 
        locator database with over 10,000 Lennox dealers. I responded to 
        150 tweets through social listening and had a 10% response rate, 
        which directly led to customer leads. I managed negative customer 
        reviews to increase customer satisfaction. I also converted 10 
        dealers to the Lennox Dealer Social Media Program.</p>

    </div>

     <!-- Vertical line -->
     <div class="vl"></div>

    <!-- Container (skills) -->
    <div id="skills" class="skills slideanim">
        <h2>Skills</h2><br>
            <div class="row"> 
                <div class="col-sm-4">
                        <span class="glyphicon glyphicon-wrench logo-small"></span>
                        <h4>LANGUAGES</h4>
                        <p>HTML<br>Java<br>Visual Basic<br>SQL<br>C#<br>jQuery<br>CSS</p>
                </div>
                <div class="col-sm-4">
                        <span class="glyphicon glyphicon-briefcase logo-small"></span>
                        <h4>TECHNOLOGIES</h4>
                        <p>Relational Databases<br>Microsoft Office<br>SAP ERP<br>Photoshop<br>Tableau<br>Visual Studio</p>
                </div>
                <div class="col-sm-4">
                        <span class="glyphicon glyphicon-thumbs-up logo-small"></span>
                        <h4>CHARACTER</h4>
                        <p>Teamwork<br>Time Management<br>Communication<br>Leadership<br>Public Speaking<br>Reliable<br>Problem Solving</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                        <span class="glyphicon glyphicon-headphones logo-small"></span>
                        <h4>LANGUAGES</h4>
                        <p>English<br>Italian</p>
                </div>
                <div class="col-sm-4">
                        <span class="glyphicon glyphicon-certificate logo-small"></span>
                        <h4>AWARDS</h4>
                        <p><b>Baylor University Dean's List</b><br>Fall 2014, Spring 2015, Fall 2015, Spring 2016, Fall 2016, Fall 2017, and Spring 2018</p>
                </div>
                <div class="col-sm-4">
                        <span class="glyphicon glyphicon-heart logo-small"></span>
                        <h4>ORGANIZATIONS</h4>
                        <p>Tri Delta<br>SAI Alumni Group<br>Baylor Business Fellows<br>AITP</p>
                </div>
            </div>
    </div>

    <!-- Vertical line -->
    <div class="vl"></div>
    
    <!-- Download Resume Button -->
    <div class="resume-button">
        <button class="btn btn-lg myownbutton">Download My Resume</button>
    </div>

    <!-- Vertical line -->
    <div class="vl"></div>

    <!-- Endorsements -->
    <div class="endorsements slideanim">
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <h2 >Endorsements</h2>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>"Hannah is the best!"<br><span>Trevor Anderson</span></h4>
                </div>
                <div class="item">
                    <h4>"One word...Wow!"<br><span>Trevor Anderson</span></h4>
                </div>
                <div class="item">
                    <h4>"Could I... BE any more happy with Hannah?"<br><span>Chandler Bing</span></h4>
                </div>    
            </div>
    </div>
    </div>

    <!-- Vertical line -->
    <div class="vl"></div>

    <!-- Contact -->
    <div id="contact" class="contact slideanim">  
        <h2 class="text-center">Contact Me</h2>

        <p><span class="glyphicon glyphicon-map-marker"></span> Dallas, TX</p>
        <p><span class="glyphicon glyphicon-phone"></span> (214)684-0100</p>
        <p><span class="glyphicon glyphicon-envelope"></span> <a href="MAILTO:hannah.walsh@credera.com">hannah.walsh@credera.com</a></p> 
        <p><span class="glyphicon glyphicon-link"></span> <a href="http://www.linkedin.com/in/hannahwalsh2">View my LinkedIn Profile</a></p>                
        <br>

        <div class="row">
            <form name = "myForm">
                <input class="form-control" id="name" name="name" placeholder="Name *" type="text" ng-model="name" required>
            </form> 
            <span ng-show="myForm.name.$touched && myForm.name.$invalid">Name is required.</span>
            
            <form name = "myForm1">
                <input class="form-control" id="email" name="email" placeholder="Email * " type="email" ng-model="email" required>
            </form>
            <span ng-show="myForm1.email.$touched && myForm1.email.$invalid">Please enter a valid email.</span>

    
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            
            <button id="btn1" class="btn btn-block" type="submit" >Send</button>
        </div>
    </div>

    <!-- Vertical line -->
    <div class="vl"></div>

    <!-- Footer -->
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br>
        <p>Theme made by Hannah Walsh</p>
    </footer>


    <script> 
    $(document).ready(function(){
        // Add smooth scrolling to all links in navbar +  footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default
            if (this.hash !== "") {
                event.preventDefault();

                var hash = this.hash;

                // Use the animate method()
                $('html, body').animate({
                    scrollTop: $(hash).offset().top}, 900, function(){
                        // Add hash to URL when done scrolling
                        window.location.hash = hash;
                    });
            }
        });

        $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop +  600) {
                    $(this).addClass("slide");
                }
            });
        });

        $('#btn1').click(function() {
            alert('name: '+ $('#name').val() + '\nemail: ' + $('#email').val() + '\ncomments:\n' + $('#comments').val());
            
            /* email feature 
            var emailtext = $('name: '+ $('#name').val() + '\nemail: ' + $('#email').val() + '\ncomments:\n' + $('#comments').val());
            emailtext.attr('action', 'mailto:test@test.com');
            emailtext.submit;
            */


        });
    })
    </script>


</body>
</html>
